body {
    background-image: url(https://th.bing.com/th/id/R.08d6ee17dae66c345bfdb608b620cbc3?rik=VVUaB0%2bfOKuCqw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fhUukl3e.jpg&ehk=YRfjpqCrlgojYQAWsoPUNyNdFEJa3UQ8E%2bHlxvv9%2b6E%3d&risl=&pid=ImgRaw&r=0);
}

.games {
    color: darkgreen;
    padding: 5px;
    font-size: 20px;
}

#link {
    color: darkblue;
    text-decoration: none;
    font-size: 18px;
}